<!DOCTYPE html>
<html lang="ja">

<head>
    <meta chaeset="UTF-8">
    <link rel="stylesheet" th:href="@{/css/students.css}" />
    <title>KBSELAB MENBER</title>
</head>

<body>
    <header>
        <h1>KBSELAB Seventh term students. Homepage</h1>
    </header>
    <ul class="images">
    	<li th:each="students : ${stlist}">
    		<a th:href="@{students/detail/{id}(id=${students.id})}">
    			<img th:src="@{/image/{name}.png(name = ${students.name})}">
    		</a>
    	</li>
    </ul>
</body>

</html>