<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="studentsDetail.css">
    <title>KBSELAB MENBER's DETAIL</title>
</head>

<body>
    <header>
        <h1>名前:[[${name}]]</h1>
    </header>
    <ul class="images">
        <li><a th:href="@{/students}"><img th:src="@{/image/{name}.png(name = ${name})}"></a>
        </li>
    </ul>
    <table width="350" border="1" align="center">
        <tr>
            <th>身長</th>
            <td>[[${height}]]</td>
        </tr>
        <tr>
            <th>体重</th>
            <td>[[${weight}]]</td>
        </tr>
        <tr>
            <th>Today's dinner 投稿済</th>
            <td>[[${todays}]]</td>
        </tr>
        <tr>
            <th>座右の銘</th>
            <td>[[${zayuu}]]</td>
        </tr>
    </table>
</body>

</html>